.page-header{
	position: relative;
	text-align: center;
	margin-top: 40px;
	&:before{
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		background-color: #cdcece;
		position: absolute;
    top: 50%;
    margin-top: -0.5px;
    z-index: -1;
	}
	h1{
		display: inline-block;
		padding: 0 35px;
		margin: 0;
		position: relative;
		background-color: #fff;
		text-transform: uppercase;
		font-size: 24px;
    letter-spacing: 5px;
    font-weight: bold;
    color: #3b4140;
		.header-left, .header-right{
			position: absolute;
			top: 50%;
    	margin-top: -6.5px;
		}
		.header-left{
			left: 0;
			margin-left: -35px;
		}
		.header-right{
			right: 0;
			margin-right: -35px;
		}
	}
}