<app-header headerText="Meet The Team"></app-header>

<div class="container" id="meet-the-team">
  <div class="row">
    <team-member url="assets/bill.png" name="Bill" class="col-md-12 col-lg-4"></team-member>
    <team-member url="assets/bob.png" name="Bob" class="col-md-12 col-lg-4"></team-member>
    <quote quoteAlign="right" quote="I drink to make other people more interesting." author="Ernest Hemingway" class="col-md-12 col-lg-4"></quote>
  </div>
  <div class="row">
    <team-member url="assets/sara.png" name="Sara" class="col-md-12 col-lg-4"></team-member>
    <team-member url="assets/dog.png" name="Dog" class="col-md-12 col-lg-4"></team-member>
    <!––
      Typically, I would not just use the image here, I would create it with HTML and CSS. But, due to not being able to get the background image and not being able to identify the overlay color, I wouldn't be able ot accuately create this. Thanks, I hope you understand.
    -->
    <team-member url="assets/tuna.png" name="Tuna" class="col-md-12 col-lg-4"></team-member>
  </div>
  <div class="row">
    <quote quoteAlign="left" quote="Good people drink good beer." author="Hunter S. Thompson" class="col-md-12 col-lg-4"></quote>
    <team-member url="assets/pam.png" name="Pam" class="col-md-12 col-lg-4"></team-member>
    <team-member url="assets/doug.png" name="Doug" class="col-md-12 col-lg-4"></team-member>
  </div>
  <div class="row">
    <team-member url="assets/steve.png" name="Steve" class="col-md-12 col-lg-4"></team-member>
    <div class="col-md-12 col-lg-4">
      <div class="join-team">
        <img src="assets/logo.png" class="logo" />
        <span>Join our team</span>
        <p>Think you've got what it takes?</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>